

<div >
    <div class="row">
        <div class="col-md-4">
            <img src="../../app/assets/images/WolfSoftware4.png" />
        </div>
    </div>
    <div class="row">
        I'm no Graphic Designer, but man I make a great logo <img src="../../app/assets/images/Kappa.png" style="width: 30px; height: 30px" alt="Kappa" />
    </div>
    <div class="row">
        <p>
                This website is meant to act as a light-weight calorie tracker to keep you on course through the day/week/month/year.
                I say it this way (day/week/month/year) because there are no user accounts. There is no database storing your data. 
                All data is stored right in your browser and it never goes further than that.
        </p>            
        <p>
                The code is publicly available on <a href="https://github.com/PhilWolf91/CalorieTracker">GitHub</a>
        </p>
        <p>
            
        </p>
    </div>
    <div class="row">
        <p> This website was written in TypeScript using Angular2 and HTML5 with a mobile-first design</p>
        <h3> Current features </h3>
        <ul>
            <li>Add Meal Days, representing a single day in which meals were consumed </li>
            <li>Add Meals, meals are added to days and comprised of different foods </li>
            <li>Add Foods, foods are added to meals</li>
            <li>Page displayed Meal Days calculates total consumed macros (calories, protein, carbs, fat)
                alongside the limits set for yourself that day</li>
        </ul>
        <h3> Upcoming Features </h3>
        <ul>
            <li>Save food for re-use in multiple meals</li>
            <li>Delete/Update Food from a Meal</li>
            <li>Delete/Update Meals</li>
            <li>Delete/Update Meal Days</li>
        </ul>
    </div>
</div>