<div class="partialBody">
    <div class="row">
        <div class="col-xs-6">
            <strong style="font-size: xx-large; vertical-align: center">Days</strong>
        </div>
        <div style="padding-top:10px" class="col-xs-6" (click)='goToAddMealDay()'>
            <strong style="font-size: large; vertical-align: center; padding-top:17px">Add Day</strong>
        </div>
     </div>
     <div class="panel-body">
         <div *ngFor="#mealDay of mealDays">
             <div class="row">
                 <div class="col-md-4"><h4><span>{{mealDay.mealDayName}}</span></h4></div>
            </div>
            <div class="row">
                <div class="col-md-5"><span>Date Created: {{mealDay.dateCreated}}</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><span>Calories: {{mealDay.macrosConsumed.calories}} out of {{mealDay.macros.calories}}</span></div>
                <div class="col-md-3"><span>Protein: {{mealDay.macrosConsumed.protein}} out of {{mealDay.macros.protein}}</span></div>
                <div class="col-md-3"><span>Carbohydrates: {{mealDay.macrosConsumed.carbohydrates}} out of {{mealDay.macros.carbohydrates}}</span></div>
                <div class="col-md-3"><span>Fats: {{mealDay.macrosConsumed.fat}} out of {{mealDay.macros.fat}}</span></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-block btn-primary" (click)='goToEditMeals(mealDay)'>Edit Meals</button>
                </div>
            </div>
            <div class="row">
                <hr />
            </div>
         </div>
        <div [hidden]="!showNoMealDaysWarning">
            You don't have any days created in order to store your meals!
        </div>
         <!--<table cellpadding="6">
             <thead>
                <tr>
                    <th>Date Created</th>
                    <th>Meal Name</th>
                    <th>Calories</th>
                    <th>Protein</th>
                    <th>Carbs</th>
                    <th>Fats</th>
                </tr>
             </thead>
             <tbody>
                <tr *ngFor='#mealDay of mealDays'>
                    <td>
                        <span>{{mealDay.dateCreated}}</span>
                    </td>
                    <td>
                        <span>{{mealDay.mealDayName}}</span>
                    </td>
                    <td>
                        <span>{{mealDay.macros.calories}}</span>
                    </td>
                    <td>
                        <span>{{mealDay.macros.protein}}</span>
                    </td>
                    <td>
                        <span>{{mealDay.macros.carbohydrates}}</span>
                    </td>
                    <td>
                        <span>{{mealDay.macros.fat}}</span>
                    </td>
                    <td>
                        <button class="btn btn-block btn-primary" (click)='goToEditMeals(mealDay)'>Edit Meals</button>
                    </td>
                </tr>
                <div [hidden]="!showNoMealDaysWarning">
                    You don't have any days created in order to store your meals!
                </div>
            </tbody>
         </table>-->
     </div>
    
</div>