<!--<h2>Simple Calorie Tracker</h2>-->
<div class="row" [style.background-image]="background">
    <div class="panel-header text-center" width=100% height=100%>
        <p style="color:white; padding-top:35%"><strong>A simple calorie tracker.</strong></p>
        <!--This is not yet functional-->
        <!--<div class="col-md-6">
            <button class="btn btn-primary" style="height:100%; width:100%; outline: none">
                <h2>Saved Foods</h2>
                <span class="glyphicon glyphicon-wrench" style="font-size: 200px"></span>
            </button>
        </div>-->
        
        <!--<div class="col-md-6">
            <button class="btn btn-primary" style="height:100%; width:100%; outline:none" (click)='goToMealDayList()'>
                <h2>Track Calories</h2>
                <span class="glyphicon glyphicon-wrench" style="font-size: 200px"></span>
            </button>    
        </div>
        -->
        
    </div>
</div>
