<div class="row">
    <div class="panel-header">
        <div class="col-md-4">
            <button class="btn btn-primary" style="height:100%; width:100%; outline: none">
                <h2>Edit Food</h2>
                <span class="glyphicon glyphicon-wrench" style="font-size: 200px"></span>
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" style="height:100%; width:100%; outline:none">
                <h2>Edit Meals</h2>
                <span class="glyphicon glyphicon-wrench" style="font-size: 200px"></span>
            </button>    
        </div>
    </div>
</div>