<div class="panel panel-primary">
    <div class="panel-heading">Edit Meals</div>
    <div class="panel-body">
        <div *ngFor='#meal of meals' [hidden]='showNoMealsWarning'>
            <div class="row">
                <div class="col-md-4">
                    <label>Name: </label> <span>{{mealName}}</span>
                </div>
            </div>
            <div>
                <div class="col-md-4">
                    <span>Calories: </span>
                </div>
                <div class="col-md-4">
                    <span>Protein: </span>
                </div>
                <div class="col-md-4">
                    <span>Carbohydrates: </span>
                </div>
                <div class="col-md-4">
                    <span>Fats: </span>
                </div>
            </div>
        </div>
        <div [hidden]='!showNoMealsWarning'>You don't have any meals</div>
        <div>
            <button (click)='addNewMeal(currentMealDayId)'class="btn btn-block btn-primary">Click here to Add a new Meal</button>
        </div>
    </div>
</div>