<div class="panel panel-primary">
    <div class="panel-heading">Edit Meals</div>
    <div class="panel-body">
        <div *ngFor='#meal of meals' [hidden]='showNoMealsWarning'>
            <div class="row">
                <div class="col-md-4">
                    <label>Name: </label> <span>{{meal.mealName}}</span>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="col-md-4">
                        <span>Calories: {{meal.calories()}}</span>
                    </div>
                    <div class="col-md-4">
                        <span>Protein: {{meal.protein()}}</span>
                    </div>
                    <div class="col-md-4">
                        <span>Carbohydrates: {{meal.carbohydrates()}}</span>
                    </div>
                    <div class="col-md-4">
                        <span>Fats: {{meal.fats()}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]='!showNoMealsWarning'>You don't have any meals</div>
        <div>
            <button (click)='addNewMeal(currentMealDayId)'class="btn btn-block btn-primary">Click here to Add a new Meal</button>
        </div>
    </div>
</div>