<div id='wrapper'>
    <div id="unToggledView">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Calorie
                        Tracker
                    </a>
                </li>
                <li>
                    <a id="menu-toggle" (click)="toggleMenu()">Toggle</a>
                </li>
                <li>
                    <a [routerLink]="['Home']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['MealDaysList']">Track Calories</a>
                </li>
                <li>
                    <a [routerLink]="['Information']">
                        About
                    </a>
                </li>
            </ul>     
        </div>
    </div>
    <div id="toggledView">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <div style="padding-top:30px"></div>
                <li>
                    <span (click)="toggleMenu()" class="glyphicon glyphicon-menu-hamburger" style="font-size:30px;color:white"></span>
                </li>
                <li>
                    <a [routerLink]="['Home']">
                        <span class="glyphicon glyphicon-home" style="font-size:30px;color:white"></span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['MealDaysList']">
                        <span class="glyphicon glyphicon-calendar" style="font-size:30px;color:white"></span>
                    </a>
                </li>
                <!--<li>
                    <span class="glyphicon glyphicon-cutlery" style="font-size:30px;color:white"></span>
                </li>-->
                <li>
                    <a [routerLink]="['Information']">
                        <span class="glyphicon glyphicon-question-sign" style="font-size:30px;color:white"></span>
                    </a>
                </li>
            </ul>     
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid home-background">
            <div class="row">
                <div class="col-lg-12">
                    <!--<div><h1>Main Component</h1></div>-->
                    <router-outlet></router-outlet>            
                </div>
            </div>
        </div>
    </div>
</div>
