<div id='wrapper'>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Calorie
                    Tracker
                </a>
            </li>
            <li>
                <a id="menu-toggle" (click)="toggleMenu()">Toggle</a>
            </li>
            <li>
                <a [routerLink]="['Home']">Home</a>
            </li>
            <li>
                <a [routerLink]="['MealDaysList']">Track Calories</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>     
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div><h1>Main Component</h1></div>
                    <router-outlet></router-outlet>            
                </div>
            </div>
        </div>
    </div>
</div>
