table{
    border-collapse: separate;
    border-spacing: 20px
}
.WhiteSpaceBlock{
    padding-top: 200px;
}
.home-background{
    background-image: 'app/assets/images/Background1900x1200.jpg';
}

.white-text{
    color:white;
}