table{
    border-collapse: separate;
    border-spacing: 20px
}
.WhiteSpaceBlock{
    padding-top: 200px;
}


body{
    color:dodgerblue;
    background: rgba(30,30,30, 1)
}

div.partialBody{
    background: rgba(30,30,30, 1);
}

input, textarea {
    background:  rgba(0, 0, 0, 0.6)
}