<div class="panel panel-primary">
    <div class="panel-heading">Add Meal</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">Meal Name</div>
            <div class="col-md-4"><input type="text" [(ngModel)]="mealName" /></div>
            <div class="col-md-4"><button (click)='saveMeal()' class="btn btn-block btn-primary">Save Meal</button></div>
        </div>
        <ctw-food-list [mealDayMealId]="mealDayMealId" [mealDayId]="mealDayId"></ctw-food-list>
    </div>
</div>