<div class="panel panel-primary">
    <div class="panel-heading">Add Meal</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>Meal Name</td>
                    <td><input type="text" ([ngModel])="mealDayName" /></td>
                </tr>
                    
            </thead>
            <tbody>
                <tr>
                    <td><ctw-food-list [mealDayMealId]='mealDayId'></ctw-food-list></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>